* {
    /* border: 1px solid red; */
}

#minitel {
    display: grid;
    place-items: center;
}

#top {
    width: 400px;
    height: 40px;
    background-color: rgb(44, 44, 44);
    clip-path: polygon(50px 0px, 350px 0px, 100% 100%, 0% 100%);
}

#display {
    width: 400px;
    height: 400px;
    background-color: silver;
    display: grid;
    place-items: center;
}

#screen {
    width: 320px;
    height: 320px;
    background-color: black;
    border-radius: 10%;
    display: grid;
    place-items: center;
}

#keyboard {
    width: 600px;
    height: 100px;
    clip-path: polygon(100px 0px, 500px 0px, 100% 100%, 0% 100%);
    background-color: grey;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

#wrapper_pro {
    /* filter: drop-shadow(0px 5px 0px black); */
    clip-path: polygon(25% 0%, 100% 0%, 95% 100%, 0% 100%);
    background-color: black;
}

/* #wrapper_perso {
    clip-path: polygon(0% 0%, 75% 0%, 100% 100%, 5% 100%);
    background-color: black;
    width: 200px;
    height: 60px;
} */

.keys {
    width: 180px;
    height: 50px;
    background-color: silver;
    border-radius: 10px;
    box-shadow: 0px 10px black;
    /* filter: drop-shadow(0 10px black); */
}

/* .keys:hover {
    * * * * * changer image de l'écran * * * * * 
} */

#keys_pro {
    clip-path: polygon(25% 0%, 100% 0%, 95% 100%, 0% 100%);
}

#keys_perso {
    /* clip-path: polygon(0% 0%, 75% 0%, 100% 100%, 5% 100%); */
    /* border-width: 0 0 10px 3px; */
    /* border-style: solid; */
    /* border-color: black; */
    /* box-shadow: 0px 10px black; */
    /* filter: drop-shadow(0 10px black); */
}

.keys:active {
    /* border: 10px solid red; */
    /* border-width: 0 0 3px 3px; */
    /* border-style: solid; */
    /* border-color: red; */
    box-shadow: 0px 3px black;
    /* filter: drop-shadow(0 3px black); */
    transform: translateY(7px);
}

#bottom {
    width: 600px;
    height: 50px;
    background-color: rgb(44, 44, 44);
    color: white;
    display: grid;
    place-items: center;
}

/* ============================================================ */
/* ==================== TEST ==================== */
/* ============================================================ */
