* {
    /* border: 1px solid red; */
}

body {
    background-color: #37474f !important;
}

/* ========== LINKS ========== */
a:link {
    text-decoration: none;
    color: rgb(0, 158, 147);
}

a:visited {
    text-decoration: none;
    color: rgb(0, 158, 147);
}

a:focus {
    text-decoration: none;
    color: black;
}

a:hover {
    text-decoration: none;
    color: white !important;
    background-color: rgb(0, 158, 147);
    transition: 0.2s;
}

a:active {
    text-decoration: none;
    color: black;
}
/* ========== END / LINKS ========== */

span {
    margin-right: 1rem;
}

.icon {
    width: 120px;
    height: auto;
}

.side {
    min-width: 440px;
    margin: 1rem !important;
}

.zone_green {
    min-width: 440px;
    color: #fff;
    background-color: rgb(0, 158, 147);
    border-radius: 15px;
    /* margin: 1rem !important; */
    padding: 1rem !important;
}

.zone_white {
    color: #000;
    background-color: #fff;
    border-radius: 15px;
    margin-top: 1rem !important;
    margin-bottom: 1rem !important;
    padding: 1rem !important;
    transition: 0.2s;
}

.zone_white:hover {
    /* ===== V1 ===== */
    /* transform: translateY(-3px) translateZ(0); */
    /* box-shadow: 0 24px 36px rgba(0, 0, 0, 0.5); */
    /* ===== V2 ===== */
    transform: translateX(5px) translateY(-5px) translateZ(0);
    box-shadow: -10px 10px rgb(0, 0, 0);
    transition: 0.2s;
    color: black;
}

h1 {
    text-align: center;
    margin-top: 1rem !important;
}

h2 {
    margin-top: 0.5rem !important;
    text-align: center;
    font-size: 1.5rem !important;
}

ul {
    margin: 0px !important;
    padding: 0px !important;
}

li {
    margin-bottom: 0.5rem;
    list-style-type: none;
}

li:last-of-type {
    margin-bottom: 0px;
}
